:root {
	--grid-color: hsla(0, 0%, 50%, 0.5);
	--grid-thickness: 0.5px;

	--white-85: hsl(0, 0%, 85%);
	--white-90: hsl(0, 0%, 90%);
	--white-95: hsl(0, 0%, 95%);

	--dark-95: hsl(0, 0%, 5%);
	--dark-90: hsl(0, 0%, 10%);
	--dark-85: hsl(0, 0%, 15%);

	--gray-solid: hsl(0, 0%, 50%);
	--gray-trans: hsl(0, 0%, 50%, 0.5);
}
@font-face {
	font-family: Terminal;
	src: url("Terminus.ttf");
}
@font-face {
	font-family: Quicksand;
	src: url("Quicksand.ttf");
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
* {
	user-select: none;
	font-weight: normal;
	text-decoration: none;
	font-size: clamp(10px, 1.5vw, 16px);
	font-family: Quicksand;
	color: var(--white-95);
	border: none;
	outline: none;
}
body {
	background-color: var(--dark-85);
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}
#topbar {
	width: 100vw;
	height: 5vh;
	background-color: var(--dark-90);
}
#frame {
	background-color: var(--dark-85);
	height: 10vh;
}
main {
	display: flex;
	width: 100vw;
	flex-grow: 1;
	justify-content: space-between;
}
#palette {
	background-color: var(--dark-85);
	flex-basis: 25vw;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	div {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
}
#grid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	overflow: auto;
	scrollbar-width: thin;
	background-color: var(--dark-95);
}
#drawing-space-container {
	position: relative;
}
#grid-menu {
	z-index: 999;
	background-color: var(--dark-85);
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	gap: 1.5rem;

	div {
		display: flex;
		flex-direction: column;
		border-radius: 0.5rem;
	}
	svg {
		cursor: pointer;
		width: 2.5rem;
		height: 2.5rem;
		padding: 0.5rem;
		border-radius: 0.5rem;
	}
	svg:hover {
		background-color: var(--gray-trans);
	}
}
pixel-grid {
	display: grid;
	border: 1px solid var(--gray-trans);
	background-color: black;
	.pixel-cell:hover {
		background-color: hsla(0, 0%, 50%, 0.5);
	}
	.pixel-cell {
		font-family: Terminal;
		font-weight: bold;
		text-align: center;
		line-height: 1;
		font-size: 10px;
		user-select: none;
		aspect-ratio: 1/1;
	}

	.pixel-border {
		border-left: var(--grid-thickness) solid var(--grid-color);
		border-top: var(--grid-thickness) solid var(--grid-color);
	}
	.pixel-cell-right {
		border-right: var(--grid-thickness) solid var(--grid-color);
	}
	.pixel-cell-bottom {
		border-bottom: var(--grid-thickness) solid var(--grid-color);
	}
}
color-palette {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	overflow: auto;
	.color-cell {
		cursor: pointer;
		width: 25px;
		height: 25px;
	}
}
.horizontal-c {
	display: flex;
	flex-direction: column;
	width: inherit;
	height: inherit;
}
input[type="text"] {
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--dark-90);
	border: 2px solid var(--dark-85);
}
